/*
    dark1 = #000000
    dark2 = #B89E97
    light1 = #FFF
    light2 = #DECCCC
    alt = #1098F7
*/

body {
    background-color: #fff;
}

h1 {
    text-align: center;
}

main {
    color: #FFF;
    max-width: 90%;
    margin: 20px auto;
    text-align: center;
    background-color: #1098F7;
    padding: 7% 0;
    border-radius: .5em;
}

img{
    width: 90%;
    max-width: 750px;
}

.Error{
    color: red;
    background-color: #FFF;
    min-height: 100px;
    text-align: center;
}

.Error > h3 {
    padding-top: 35px;
}